body{
    margin: 0; 
}

main{
    width: 800px;
    background-size: cover;
}
form{
    background-color: rgba(250, 235, 215, 0.518);
    border-radius: 15px;
    color: rgb(12, 29, 9);
    font-family:sans-serif;
    box-shadow: 3px 3px 10px 10px;
    padding: 20px;
    margin:40px;
    text-align: center;
}
.campoIngresa{
    border: solid 1px rgb(17, 17, 17);
    padding: 5px;
    width: 290px;
    border-radius:20px;
}
.campoIngresa:focus{
    background-color: rgba(134, 219, 169, 0.356);
    color: black;
    border-color: rgba(48, 219, 99, 0.137);
}
.resetear{
    background-color: rgba(69, 153, 80, 0.404);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 40px;
    margin: 100px;
}
h2{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    color: rgb(149, 201, 176);
    margin: 1px;
}
section{
    margin: 50px;
    padding: 1px;
}
