body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Fondo gris claro */
    margin: 0;
    padding: 0;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}
h1 {
    color: #388e3c; /* Verde */
    text-align: center;
}
p {
    color: #558b2f; /* Verde oscuro */
    text-align: center;
}
a {
    color: #2e7d32; /* Verde más oscuro */
    text-decoration: none;
}
button {
    background-color: #4caf50; /* Verde */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #45a049; /* Verde más oscuro al pasar el ratón */
}
.favorites-list {
    list-style-type: none;
    padding: 0;
}
.favorites-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9; /* Fondo gris claro */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.favorites-list li a {
    flex-grow: 1;
}
.favorites-list li button {
    margin-left: 10px;
}
.divider {
    text-align: center;
    margin-bottom: 20px;
}
.divider hr {
    border: none;
    border-top: 1px solid #ccc; /* Línea divisoria gris */
    margin: 10px auto;
    width: 50%;
}