body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Calibri', sans-serif;
}

body {
  background-image: url('https://i.pinimg.com/736x/2c/0b/f7/2c0bf70ba365e7d02900df176d29c970.jpg');
  background-size: cover;
  background-position: center;
}

.form-register {
  width: 400px;
  background-image: url('ruta/de/la/imagen.jpg'); /* Ruta de la imagen que deseas agregar */
  background-size: cover;
  background-position: center;
  background-color: rgba(95, 54, 122, 0.8); /* Cambiado a un color verde más oscuro */
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 8px;
  color: white;
  box-shadow: 7px 13px 37px #000;
  text-align: center;
}


.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  color: #000000;
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5; /* Corregido el valor hexadecimal */
  font-size: 18px;
  text-align: center;
}

.form-register p {
  height: 40px;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  text-decoration: underline;
}

.form-register .buttons {
  width: 100%;
  background: #1f53c5; /* Color cambiado a azul */
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  text-align: center;
}
